html {
    scroll-behavior: smooth;
    min-height: 100%;
    overflow: scroll
}
h1 {
    margin: 0;
    padding: 20px;
    color: darkblue;
}
body {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}
/* id's are hashtags # */
#nav {
    display: flex;
}
#left-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
#middle-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
#right-nav{
    width: 20vw;
}
body{
  height: calc(100vh - 8em);
  color: black;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: white;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 185%;
    color: darkslateblue; 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
p.welcome{
    margin-left: 5%;
    margin-right: 6%;
    font-size: 160%;
    font-weight: bold;
    font-style: italic; 
    text-align: start; 
    color: darkslateblue;

}
p.about{
    font-weight: normal;
    font-size: 110%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: dimgray;
}

p.class{
    font-weight: normal;
    font-size: 110%;
    text-align: left; 
}

h3{
    text-align: left;
    margin-left: 5%;
    color: darkslateblue; 
}

ul {
  list-style-type: circle;
  text-align: left;
  margin-left: 5em;
  padding: 0;
  color: dimgray;
  font-size: 110%;
}
.footer {
    padding: 20px;
    margin-bottom: 0;
    background-color: white;
    color: darkslateblue;
}



